<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Welcome to HyperBook Shop!</h2>
<div><li>
    <a href="/login"> Login page</a>
</li></div>
<div>
    <li>
        <a href="/signup">Sign up Page</a>
    </li>
</div>
<div>
    <li>
        <a href="/available_books">Available books list</a>
    </li>
</div>
<div>
    <li>
        <!--<a href="/resumes" >Resume list</a>-->
        <a href="/delete"> remove book </a>
    </li>
</div>
<div>
    <li>
        <a href="/update"> update number of books </a>
    </li>
</div>
<div>
    <li>
        <a href="/add_book"> Add books </a>
    </li>
</div>
<div>
    <li>
        <a href="/order"> Place Order </a>
    </li>
</div>
<div>
    <li>
        <a href="/confirmed_orders"> View Orders </a>
    </li>
</div>
<div><li>
    <a href="/logout"> Logout</a>
</li></div>
</body>
</html>